<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
           xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.air.plugin.SAPCTS" name="SAP Change and Transport System" version="1"/>
    <description>Plug-in to interact with the SAP Change and Transport System.</description>
    <tag>SAP/Change and Transport System</tag>
  </header>
  <step-type name="Add to Buffer">
    <description>Add the transport number to the buffer to be imported.</description>
    <properties>
      <property name="tpLocation">
        <property-ui type="textBox"
                     label="tp Path"
                     default-value="/usr/sap/${p:resource/sap.sid}/SYS/exe/run/tp"
                     description="Path to the transport control program (tp) on the system. Default location is '/usr/sap/${p:resource/sap.sid}/SYS/exe/run/tp'."/>
      </property>
      <property name="transportRequest" required="true">
        <property-ui type="textAreaBox"
                     label="Transport Request Number"
                     description="Newline delimited list of transport request numbers to add to the buffer (ie. DEV12345).  Also accepts a filename with a list of transport numbers."/>

      </property>
      <property name="sapsid" required="true">
        <property-ui type="textBox"
                     label="SAP System ID"
                     default-value="${p?:resource/sap.sid}"
                     description="SID of the target SAP system."/>
      </property>
      <property name="clientNumber">
        <property-ui type="textBox"
                     label="Client Number"
                     default-value="${p?:resource/sap.client}"
                     description="The number for the client on the target system. (ie. 100)"/>
      </property>
      <property name="pf">
        <property-ui type="textBox"
                     label="Profile Name"
                     default-value="${p?:resource/sap.pf}"
                     description="The path and name of the target profile. (ie. /usr/sap/trans/bin/TP_DOMAIN_DEV.PFL)"/>
      </property>
    </properties>
    <post-processing><![CDATA[
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else {
 properties.put("Status", "Success");
 }
 ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/securedata.jar:lib/jettison-1.1.jar:lib/commons-codec.jar:lib/CommonsUtil.jar"/>
      <arg file="addToBuffer.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Import">
    <description>Import the transports added to the buffer.</description>
    <properties>
      <property name="tpLocation">
        <property-ui type="textBox"
                     label="tp Path"
                     default-value="/usr/sap/${p:resource/sap.sid}/SYS/exe/run/tp"
                     description="Path to the transport control program (tp) on the system. Default location is '/usr/sap/${p:resource/sap.sid}/SYS/exe/run/tp'."/>
      </property>
      <property name="transportRequest" required="true">
        <property-ui type="textAreaBox"
                     label="Transport Request Number"
                     description="Newline delimited list of transport request numbers to add to the buffer (ie. DEV12345).  Also accepts a filename with a list of transport numbers."/>
      </property>
      <property name="sapsid" required="true">
        <property-ui type="textBox"
                     label="SAP System ID"
                     default-value="${p?:resource/sap.sid}"
                     description="SID of the target SAP system."/>
      </property>
      <property name="clientNumber">
        <property-ui type="textBox"
                     label="Client Number"
                     default-value="${p?:resource/sap.client}"
                     description="The number for the client on the target system. (ie. 100)"/>
      </property>
      <property name="pf">
        <property-ui type="textBox"
                     label="Profile Name"
                     default-value="${p?:resource/sap.pf}"
                     description="The path and name of the target profile. (ie. /usr/sap/trans/bin/TP_DOMAIN_DEV.PFL)"/>
      </property>
    </properties>
    <post-processing><![CDATA[
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else {
 properties.put("Status", "Success");
 }
 ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/securedata.jar:lib/jettison-1.1.jar:lib/commons-codec.jar:lib/CommonsUtil.jar"/>
      <arg file="importTransport.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Add File to Transport">
    <description>Attaches a given file to an ABAP CTS transport request.</description>
    <properties>
      <property name="ctsattach" required="true">
        <property-ui type="textBox"
                     label="CTS-Attach Location"
                     default-value="${p?:resource/sap.ctsattach}"
                     description="The path to the install directory for the cts-attach tool. See plug-in documentation for more information. (ex. /."/>
      </property>
      <property name="sapUrl" required="true">
        <property-ui type="textBox"
                     label="SAP Url"
                     default-value="${p?:resource/sap.url}"
                     description="Host name and port for the SAP server. (ex. http://hostname.sap.com:5555"/>
      </property>
      <property name="ctsUser" required="true">
        <property-ui type="textBox"
                     label="CTS Username"
                     default-value="${p?:resource/sap.username}"
                     description="Username for CTS"/>
      </property>
      <property name="ctsPass" required="true">
        <property-ui type="secureBox"
                     label="CTS Password"
                     default-value="${p?:resource/sap.password}"
                     description="Password for CTS"/>
      </property>
      <property name="clientNumber" required="true">
        <property-ui type="textBox"
                     label="Client Number"
                     default-value="${p?:resource/sap.client}"
                     description="The number for the client on the target system."/>
      </property>
      <property name="sapsid" required="true">
        <property-ui type="textBox"
                     label="SAP System ID"
                     default-value="${p?:resource/sap.sid}"
                     description="System identifier of the upload system."/>
      </property>
      <property name="filename" required="true">
        <property-ui type="textBox"
                     label="File"
                     description="The full or relative path and name of the file to be added to the transport request. (ex. ./file.mtar)"/>
      </property>
      <property name="application" required="true">
        <property-ui type="textBox"
                     label="Application"
                     default-value="${p?:resource/sap.application}"
                     description="The application type of the file.  (ex. HCP)"/>
      </property>
    </properties>
    <post-processing><![CDATA[
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else {
 properties.put("Status", "Success");
 }
 ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/securedata.jar:lib/jettison-1.1.jar:lib/commons-codec.jar:lib/CommonsUtil.jar"/>
      <arg file="addFileToTransport.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
